.icon {
    font-size: 20px;
}

/* Styles for TextButtons, ButtonList, AddButton */
.fab_container {
    position: relative;
    width: 40px;
    height: 100px;
}


.fab_btn {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    top: 40px;
    border: none;
    font-size: 20px;
    color: #313133;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    pointer-events: none;
}

.text_btn_icon {
    margin-bottom: 5px;
}

.main_btn {
    z-index: 2;
    opacity: 1;
    pointer-events: auto;
}


.fab_container:hover .main_btn {
    transform: rotate(360deg);
    opacity: 0;
    cursor: auto;
}

.fab_container:hover .text_btn {
    transform: translateY(-60px);
    opacity: 1;
    pointer-events: auto;
}

.fab_container:hover .image_btn {
    transform: translateY(5px);
    opacity: 1;
    pointer-events: auto;
}

.add_btn_full {
    display: flex;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    background-color: #989898;
    padding: 10px 10px;
    border-radius: 5px;
    width: 150px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.add_btn_full:hover {
    background-color: #686868;
}

/* Styles for DeleteButton */
.delete_btn {
    outline: none;
    border: none;
    cursor: pointer;
    color: #202022;
    width: 35px;
    height: 35px;
    font-size: 24px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.delete_btn:hover {
    background-color: #4e4d4d;
    color: #b8b8b8;
}

/* styles fro DragButton */
.drag_btn {
    cursor: grab;
    color: gray;
}

/* styles for HoveringBigButtons */
.hovering_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 16px;
    margin: 0 5px;
    border-radius: 10px;
    background-color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
}
.save_btn {
    border: 1px solid #38b000;
    color: #38b000;
}
.edit_btn {
    border: 1px solid gray;
    color: #090909;
}
.cancel_btn {
    border: 1px solid #c00;
    color: red;
}
.preview_btn {
    border: 1px solid #00b4d8;
    color: #00b4d8;
}
.hovering_text {
    max-width: 0;
    opacity: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.5s ease;
}

.hovering_btn:hover .hovering_text {
    max-width: 300px;
    opacity: 1;
    font-weight: bolder;
}


/* CloseButton */

.close_btn {
    display: flex;
    justify-content: center;
    align-self: center;
    cursor: pointer;
}

/* SideBarButton */
.sidebar_btn {
    outline: none;
    border: none;
    color: #999999;
    background-color: transparent;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.sidebar_btn:hover {
    color: white;
}

/* ImageUploadButton */
.image_uploader_btn {
    border: none;
    background-color: #91cf51;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    outline: none;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    transition: all 0.3s ease;

}
.image_uploader_btn:hover {
    scale: 1.02;
}




