.preview_container {
    width: 100%;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
}

.preview_text {
    width: 100%;
    max-width: 600px;
    margin: 10px 0;
    word-wrap: anywhere;
}
.preview_img {
    width: auto;
    height: 300px;
    max-width: 600px;
}
.end_btns {
    position: sticky;
    margin-top: 20px;
    bottom: 0;
    align-self: flex-end;
    display: flex;
}