.modal_backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal_content {
    background: white;
    padding: 24px;
    border-radius: 12px;
    max-width: 600px;
    width: 100%;
    display: flex;
}

.close_btn {
    position: sticky;
    width: 25px;
    height: 25px;
    left: 10000px;
    top: 10px;
}

.save_container {
    font-family: "Montserrat", sans-serif;
    width: 100%;
}

.save_btn {
    float: right;
    margin: 10px 0;
}

.uploader_wrapper {
    font-family: "Montserrat", sans-serif;
}

.uploader_title {
    margin-bottom: 20px;
}

.uploader_btn {
    margin-top: 60px;
}

.uploader_label {
    margin-top: 20px;
}

.uploader_close_btn {
    position: sticky;
    right: 1000px;
}

.img_elem {
    width: auto;
    height: 300px;
}
