.slate {
    resize: none;
    border: 1px solid gray;
    width: 800px !important;
    max-height: 200px;
    font-family: "Montserrat", sans-serif;
    border-radius: 5px;
    padding: 5px 5px;
    overflow-y: scroll;
}

.slate:hover {
    border: 1px solid #5a5a5a;
    box-shadow: 0 0 10px #5a5a5a;
}

.slate:focus {
    outline: none;
    border: 1px solid #3c3c3c;
}
.textarea {
    resize: none;
    border: 1px solid gray;
    width: 100%;
    max-height: 200px;
    height: 30px !important;
    font-family: "Montserrat", sans-serif;
    border-radius: 5px;
    padding: 5px 5px;
}