
.header {
    width: 100vw;
    height: 40px;
    display: flex;
    background: #313133;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header_title {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    text-align: center;
}

.header_side_btn {
    position: absolute;
    right: 20px;
    top:5px;
}