.container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    border: 1px solid #313133;
    border-radius: 5px;
    max-width: 1000px;
    min-height: 600px;
    padding: 20px;
    box-sizing: border-box;
}

.container_disable {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    border: 1px solid #313133;
    border-radius: 5px;
    max-width: 1000px;
    min-height: 600px;
    padding: 20px;
    box-sizing: border-box;
    opacity: 0.5;
    pointer-events: none;
}

.header {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 20px;
    text-align: center;
}

.form_content {

}

.form_elem {
    margin: 20px 40px;
    display: flex;
    align-items: center;
}

.img_elem {
    width: auto;
    height: 300px;
}

.form_content input {
    margin: 10px 0;
    padding: 8px 12px;
    font-size: 16px;
    width: 300px;
}


.btns_container {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.end_btns {
    position: sticky;
    top: 650px;
    align-self: flex-end;
    display: flex;
}
