@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar {
    height: 4px;
    width: 8px;
    cursor: pointer;
}
*::-webkit-scrollbar-track {
    background: transparent;
    cursor: pointer;

}
*::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
    cursor: pointer;

}

.app {
    position: relative;
}